<ion-header>
  <ion-toolbar>
    <ion-title>Davis Global Center Request Form</ion-title>
  </ion-toolbar>
  <ion-button (click)="cancel()">Go Back</ion-button>
</ion-header>

<ion-content>
  <ion-input placeholder="Name">
  </ion-input>
  <ion-input placeholder="Phone Number">
  </ion-input>
  <ion-input placeholder="Address">
    </ion-input>

  What kind of event are you scheduling?
  <ion-input placeholder="Name of Event">

  </ion-input>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let entry of form">
        <ion-checkbox></ion-checkbox>
        <ion-label>{{entry.val}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

    <ion-content>
      <ion-title>
        Additional Information:
      </ion-title>
      <ion-input placeholder="Number of Participents">
        
      </ion-input>
      <ion-button (click)="calendar()">Choose A Date</ion-button>

        <p>Have you previously discussed your visit with iEXCEL staff?</p>
      <mat-checkbox class="example-margin">Yes</mat-checkbox>
      <mat-checkbox class="example-margin">No</mat-checkbox>

      <p>If yes, who did you discuss with?</p>
      <ion-input>Enter name(s) here</ion-input>

      <p>Is this a recurring visit?</p>
      <mat-checkbox class="example-margin">Yes</mat-checkbox>
      <mat-checkbox class="example-margin">No</mat-checkbox>

      <p>If yes, enter other requested dates </p>
      <ion-input>Enter dates here: </ion-input>

      <p>Other schedulers:</p>
      <ion-input>Enter other schedulers here: </ion-input>

      <p>Question?</p>
      <ion-input>Enter questions here: </ion-input>

      <p>List any materials you plan on bringing</p>
      <ion-input>List materials here: </ion-input>

      <p>List needed materials: </p>
      <ion-input>List materials here: </ion-input>

      <p>List any accessibility needs: </p>
      <ion-input>List accessibility needs here: </ion-input>

      <p>Attach relevant documents here: </p>
      
    </ion-content>


  

</ion-content>

<ion-button (click)="save()">Save</ion-button>
<ion-button (click)="submit()">
  Submit
</ion-button>

