<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  

  
  <ion-router-outlet id="main"></ion-router-outlet>
  
  
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Welcome User!
  
          <p>User email : <strong>{{ userDetail }}</strong></p>
        </ion-col>
      </ion-row>

      <ion-header>
         <ion-card>

              <ion-title> Presets </ion-title>
              <ion-button (click)="addPreset()">
              <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
         </ion-card>
      </ion-header>
      <ion-button type="submit" color="primary" expand="block" (click)="goToIntake()">Intake Form</ion-button>
      <ion-button type="submit" color="danger" expand="block" (click)="signOut()">Signout</ion-button>
    </ion-grid>
  </ion-content>