<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-button (click)="intakeForm()" expand="block" color="secondary">Schedule a Visit</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/user-login']" expand="block" color="primary"
        >Sign In</ion-button>
    
        <span class="ion-align-self-center">or </span>
        <span class="divider liner one-line"></span>
        <span class="already">Don't have an account?</span>
        <ion-button
        [routerLink]="['/registration']"
        expand="block"
        color="primary"
        >Register</ion-button
      >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



